*{
    padding: 0;
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-family:'Times New Roman', Times, serif;
    
}

.thumucyeuthich{
    width: 100%;
    margin-left: 30px ;
    font-size: 20px;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    
}

#hopthongbaoyeuthichtontai{
  
        width: 95%;
        height: auto;
        margin: 10px auto;
        font-size: 20px;
        text-align: center;
}

#hopyeuthich {
    width: 95%;
    height: auto;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
   
}

#hopyeuthich>div {
    text-align: center;
    padding: 10px;
    width: calc(25% - 20px);
    float: left;
}

img {
    width: 200px;
    width: 150px;
}

.anh11 {
    text-align: center;
}





img{
    width: 100%;
    height: 100%;
}
#anhhhhh{
    transition: opacity 0.3s ease;
}
.nav{
 
  width: 100%; 

}
.nav>ul{
  
    display: flex;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
   
}
.nav>ul>li:nth-child(1){
    font-size: 40px;
    margin-right: 200px;
    font-weight: 900;
    opacity: 0.7;
    width: 40px;

}
.nav>ul>li{
    margin: auto 0;
    margin-left: 70px;
    font-size: 20px;
    font-weight: 900;
    opacity: 0.8;
   
}
.hoptrai{
    height: auto;
    width: 100%;
}
.banner{
    width: 100%;
    height: 360px;
    position: relative;
}
.hopchuaanh{
    position: absolute;
    width: 100%;
    height: 100%;
}
.thanhtrai{
    position: absolute;
    font-size: 40px;
    opacity: 0.8;
    top: 40%;
    left: 1%;
    z-index: 1;
}
.thanhphai{
    position: absolute;
    font-size: 40px;
    opacity: 0.8;
    top: 40%;
    right: 1%;
    z-index: 1;
}

.hopnut0000{
    width: 30px;
    height: 100px;
    position: absolute;
    top: 120px;
    
    right: 10%;
}
.hopnut0000>div{
    height: 25%;
    transform: scale(0.5);
    border-radius: 10%;
    border:1px solid black;

   
}
.hello{
animation: 1s hello forwards;
}
@-webkit-keyframes hello{
    0%{
        background-color: #f0f0f057;
    }
    100%{
        background-color: #2c3e50;
    }
}

.chu{
   
    width: calc(100% - 20px);
    top: 70%;
    left: 10%;
    font-size: 20px;
    font-family: 'Abel', sans-serif;
    color: #34495e;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.container1{
    width: 100%;
    margin-top: 10px;
    display: grid;
    grid-template-columns:calc(70% - 5px) calc(30% - 5px);
    gap: 10px;
}
.hopphai{
 
  font-weight: 700;
  transform: scale(0.95);
  color: #34495e;
}
h3{
    font-size: 20px;
    margin: 10px;
}
.hopchuchays{
    height: 0px;
    font-size: 15px;
    animation: 0.5s mora forwards;
}
@-webkit-keyframes mora{
   0%{
    height: 200px;
   }
   100%{
    height: 400px;
   }
}
.addclassdong{
    animation: 0.5s donglai forwards;
}
@-webkit-keyframes donglai{
    0%{
     height: 200px;
    }
    100%{
     height: 0px;
    }
 }
marquee{
    border-radius: 10px;
    height: 100%;
}
.hopdanhgiasanpham{
    margin-top: 10px;
    
    border-radius: 10px;
}
.hopdanhgiasanpham>form{
    width: 100%;
    height: 100%;
}

input{
    width: 100%;
    height: 30px;
}
textarea{
    resize: none;
    width: 100%;
    height: 100px;
}

.hopchatluong{
    margin-top: 10px;
    height: 100px;
}
.hopvideo{
    margin-top: 10px;
 
}
#hopsale{
    width: 90%;
  margin: 10px auto;

}
button{
    font-size: 20px;
    color: #2c3e50;
    border: 0;
    padding: 10px;
}
button:hover{
    background-color:#3498db;
    color: white;
}
input,textarea:focus{
    border: 1px solid #2c3e50;
    outline: none;
}
#hopthoigiansale{
    margin-left: 40px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
  
}
.chuthongbaoyeuthich{
    position: fixed;
    width: 300px;
    padding: 10px;
    z-index: 1;
    right: 1%;
    top: 1%;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    background-color: #c1cad3;
    transition: 1s all;
}

.addthongbaosanphamvaoyeuthich{
    animation: 1s hienrahopboyeuthich forwards;
}

@-webkit-keyframes hienrahopboyeuthich{
0%{
    opacity: 0;
    visibility: hidden;
}
100%{
    opacity: 1;
    visibility: visible;
}
}

.container2{
    width: 100%;
    height:300px;
}
.hopsanpham1>ul{
    margin-left: 20px;
}
.hopsanpham1>ul>li{
    padding: 10px;
    letter-spacing: 1px;

}
.hopsanpham1>ul>li>a{
    color: #2c3e50;
}
.container6{
margin-top: 10px;
height: 400px;
display: flex;

background-color: #2d3436;
}
.container6>div{
    width: 25%;
    padding: 20px   ;
    color: #b2bec3;
}
i{
    color: #b2bec3;
}
#hopsanpham1111{
    width:100%;
    display: flex;
    flex-wrap:wrap;
    margin-left: 10px;
   
}
#hopsanpham1111>div{
    width: calc(25% - 10px);
    margin: 5px;
   
   
}
.hopsp30>p{
    color: #3498db;
    font-weight: 900;
    font-size: 20px;
}
.hopsp30>p>b{
    color: red;
}
.hopsp30{
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
}

.hopsp30>img{
    width: 100%;
    height: 50%;
    border-radius: 10px;
    transition: 0.6s all;
    transform: scale(0.9);
}
button{
    border-radius: 10px;
}
.anh11>img{
    width: 100%;
    height: 40%;
    border-radius: 10px;
}
.hopsanpham1112{
    width:100%;
    display: flex;
    flex-wrap:wrap;
    margin-left: 10px;
   
}
.hopsanpham1112>div{
    width: calc(25% - 10px);
    margin: 5px;
   
}
.addthongbaosanphamvaoyeuthich{
    animation: 1s hienrahopboyeuthich forwards;
}

@-webkit-keyframes hienrahopboyeuthich{
0%{
    opacity: 0;
    visibility: hidden;
}
100%{
    opacity: 1;
    visibility: visible;
}
}
.hopanh11_1{
    margin: 10px;
    transform: scale(0.9);
    padding: 10px;
    border-radius: 10px;
    background-color: #34495e;
    
}
.hopanh11_1>img{
    border-radius: 10px;
}

.hopgiohang{
    width:95%;
    margin: 10px auto;
    transform: scale(0.93);
    display: flex;
    flex-wrap: wrap;
}
.hopgiohang>div{
    width: 25%;
    transform: scale(0.9);
    height: 500px;
}
.inputs{
    text-align: center;
    font-size: 20px;
    border: #2c3e50 1px solid;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: inset 1px 1px 2px 1px;
    font-weight: bold;
}
#xemchi{
    display: none;
}
#tongtiencanthanhtoan{
    font-size: 20px;
    color:white;
    display: none;
    width: 70%;
    text-align: center;
    margin: 10px auto;
    background-color: #b2bec3;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    font-weight: bold;
}
.hopsp30>span{
    font-size: 20px !important;
    color: #2c3e50;

}
.thanhtienss{
    font-size: 20px;
    background-color: #2c3e50;
    color: #b2bec3;
    text-align: right;
}
.chutongtien{
    display: none;
}
#click:hover{
    text-decoration: underline;
}

#hoptinhtien{
    position: fixed;
    width: 40%;
    height: auto;
    left: 30%;
    top: 20%;
   z-index: 9;
   background-color:#b2bec3;
   padding: 10px;
   opacity: 0;
   visibility: hidden;
}
#hoptinhtien>fieldset>legend{
    margin-left:30px ;
    font-size: 30px;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;


}
#hoptinhtien>fieldset>form{
    text-align: center;
    padding: 10px;
}
#hoptinhtien>fieldset>form>input{
  width: 96%;
  transform: scale(0.9);
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace
  
}
.classaddhoptinhtien{
    animation: 1s classaddhoptinhtien forwards ;
}
@-webkit-keyframes classaddhoptinhtien{
    0%{
        transform: translateY(-100px);
        opacity: 0;
        visibility: hidden;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}